@namespace R1.FrontEnd.Web.Components.Shared
@if (@message != "")
{
    <div class="alert alert-danger">
        <h4>@message</h4>
    </div>
}
<p>Calendar Detail</p>

@code {
    [Parameter]
    public string message { get; set; } = string.Empty;
}
