@namespace R1.FrontEnd.Web.Components.Drivers
@inject ISessionService sessionLapTimeService
@inject IJSRuntime js
@using R1.FrontEnd.Web.Models.Data
@using R1.FrontEnd.Web.Models.Shared
@using R1.FrontEnd.Web.Services.Interfaces

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Acions</th>
        </tr>
    </thead>
    
</table>
@code {
    
}
