@page "/teamsetup/drivers/"
@inject IDriverService driverService
@inject IJSRuntime js
@using R1.FrontEnd.Web.Models.Data
@using R1.FrontEnd.Web.Models.API
@using R1.FrontEnd.Web.Components
@using R1.FrontEnd.Web.Components.Drivers
@using R1.FrontEnd.Web.Services.Interfaces
@using Newtonsoft.Json

<PageTitle>R1 - Team Setup</PageTitle>
<h3>Hire Drivers</h3>

@if(response.IsSuccess == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    @if(availableDrivers == null)
    {
        <div class="alert alert-info">
            <h4>Loading Data...</h4>
        </div>
    }
    else
    {
        <AvailableDriversTable dataset="availableDrivers" />
        
        @if (bothDriversSelected)
        {
            <p>You have selected a chassis. It will cost you $600k for two chassis'.</p>
            <br />
            <p>Click Next to confirm your purchase.</p>
            <br />
            <a class="btn btn-secondary float-end" href="/factory/" title="Next - Go select engine"><span class="oi oi-plus" aria-hidden="true"></span> Next</a>
        }
    }
}


@code {
    public List<Driver> availableDrivers;
    private ResponseDto response = new ResponseDto { IsSuccess = true };
    private bool bothDriversSelected = false;
    protected override async Task OnInitializedAsync()
    {
        response = await driverService.GetAvailableDriversAsync();
        if (response.IsSuccess)
        {
            availableDrivers = JsonConvert.DeserializeObject<List<Driver>>(Convert.ToString(response.Result));
        }
    }

   
}
