@page "/teamSetup/Intro"

<PageTitle>R1 - Team Setup</PageTitle>
<h3>Team Setup</h3>

<p>You have een given $1.5M to enter a team in the Ultimate Series 2 championship.</p>

<p>Thw first thing you have to do is select what chassis's to purchase.</p>

<p>Click next to comtinue.</p>

<a class="btn btn-secondary float-end" href="/TeamSetup/team" title="Next - Go select team name"><span class="oi oi-plus" aria-hidden="true"></span> Next</a>
