@namespace R1.FrontEnd.Web.Components.Cars
@inject ICarService carService
@inject IJSRuntime js
@using R1.FrontEnd.Web.Models.Data
@using R1.FrontEnd.Web.Models.Shared
@using R1.FrontEnd.Web.Services.Interfaces
<div>
    

</div>


@code {
    
}
